#

In [1]:
import pandas as pd
import numpy as np

In [7]:
test_data_frame = pd.DataFrame({'data':np.random.normal(0, 1, 5)})

In [8]:
test_data_frame

       data
0 -0.033776
1 -0.991498
2  0.342243
3 -0.684127
4  0.209913